@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "reset";


 


body {
  font-family: 'Raleway', sans-serif;
  margin: 1em auto;
  max-width: 1200px;
  background-color: #284b63;
}

ol,
ul {
  list-style: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 3em;
  background-color: #d9d9d9;
  padding: 2em;
}

h1 {
  font-size: 3rem;
}

.page-title {
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .3em;
}

h3 {
  font-size: 1.2rem;
  margin: .5em;
  font-weight: bold;
}

.to-do-list-container {
  margin: 1em 0;
}

.to-do-list {
  padding: .3em;
}

.to-do-list li {
  margin: .6em;
}

